*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {

/**
 * colors
 */

--ultramarine-blue: hsl(222, 100%, 55%);
--white: hsl(255, 100%, 100%);
--light-gold: hsl(24, 98%, 52%);
}

.gtstd{
  width: 150px;
  margin: 40px auto;
  margin-bottom: 0px;
  background-color: var(--ultramarine-blue);
  padding: 10px;
  border-radius: 5px;
  font-weight: 900;
  color: var(--white);
  text-align: center;
}
.gtstd a{
  color: white;
  font-size: 22px;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.nav-container{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: rgba(68, 68, 68, 0.9);
  padding: 10px;
}
.nav-container .logo{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(80, 80, 80);
}
.nav-container .logo img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.nav-container .logo h4{
  display: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  max-width: 80px;
}

.nav-container .logo p{
  color: rgb(255, 255, 255);
  font-weight: 900;
}

.btn-group{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 20px;
}
.ghost-btn{
  background-color: rgba(138, 138, 138, 0.5);
  padding: 5px;
  border-radius: 5px;
  font-weight: 900;
  color: var(--white);
}
.btn-G-st{
  background-color: rgba(51, 174, 245, 0.7);
  padding: 5px;
  border-radius: 5px;
  font-weight: 900;
  color: var(--white);
}
.nav-open-btn{
  width: 25px;
  height: 30px;
  font-size: 20px;
  border: none;
  padding: 2px;
  background-color: rgba(138, 138, 138, 0.5);
  /* background-color: rgba(255, 255, 255, 0.9); */
  color: #fc8047;
  border-radius: 2px;
}
.hide{
  display: none;
}
.nav-container .navbar{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 10%;
  right: -110%;
  background-color: rgb(199, 199, 199, 0.9);
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 10px;
  transition: all 1s ease;
}
.navbar.active{
  right: 0;
} 
.navbar-top{
  width: fit-content;
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-top img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.nav-close-btn{
  width: 25px;
  height: 30px;
  font-size: 20px;
  background-color: rgba(138, 138, 138, 0.5);
  /* background-color: rgba(255, 255, 255, 0.9); */
  color: #fc8047;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  display: none;
}
.nav-close-btn.open{
  display: block;
}
.navbar-top .nav-close-btn .fa-times{
  font-size: 14px;
  margin: auto;
  font-weight: 900;
  color: var(--white);
}
.navbar-list{
  margin-top: 20px;
}
.navbar-list li{
  width: 60%;
  margin: 20px auto;
  padding: 3px;
  padding-left: 10px;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.navbar-list a{
  color: rgb(15, 15, 15);
  font-size: 14px;
  font-weight: 900;
}
.nav-rght-lnk{
  display: flex;
  width: 70%;
  align-items: center;
  margin-right: 20px;
  justify-content: right;
}
.nav-rght-lnk .profile{
  margin-right: 20px;
  background-color: unset;
  border: none;
}
.profile img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.profile-links{
  position: absolute;
  background-color: #f1f1f1;
  width: 30%;
  top: 100%;
  right: 6.5%;
  padding: 5px;
  transform: scale(0);
  text-align: left;
  border-radius: 5px;
  transition: all 1s ease;
}
.profile-links.active-pr{
  transform: scale(1);
}
.profile-links li{
  margin: 20px 5px;
  padding: 5px;
  border-bottom: 2px solid rgb(255, 102, 0);
  box-shadow: 0px 0px 10px 0px rgba(241, 191, 160, 0.5);
}
.profile-links li a{
  width: 70px;
  font-size: 14px;
  font-weight: 900;
  color: #000000;
}

/*-----------------------------------*\
  #Banner
\*-----------------------------------*/

.banner {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-image 0.5s ease;
}

.text-container {
  width: 84%;
  min-height: 50vh;
  position: absolute;
  top: 25%;
  left: 5%;
  text-align: left;
  transition: opacity 0.5s ease;
}
.txt-dt{
  width: 100%;
  min-height: 35vh;
  padding: 10px;
  background: linear-gradient(to right, rgba(14, 14, 14, 0.692), rgba(194, 193, 193, 0.466));
}
.text-container h1{
  color: var(--light-gold);
  font-size: 24px;
  opacity: 0;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.text-container h1,
.text-container p {
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.text-container h1.slide-up {
    animation-name: slideUp;
}

.text-container p.slide-right {
    animation-name: slideRight;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.text-container p {
  font-size: 16px;
  margin-top: 10px;
  color: var(--white);
}

.text-container .buttons {
  position: absolute;
  width: 90%;
  bottom: 5%;
  left: 4%;
  display: flex;
  gap: 15px;
}
.text-container .buttons a{
  font-weight: 900;
  color: var(--white);
}

.text-container .buttons #getStartedBtn,
.text-container .buttons #discoverBtn {
  width: 40%;
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--light-gold);
}

.controls {
  position: relative;
  top: 48%;
}

.controls button {
  position: absolute;
  color: var(--light-gold);
  border: none;
  padding: 2px;
  cursor: pointer;
  font-weight: 900;
  font-size: 14px;
  border-radius: 5px;
  background-color: unset;
}

.controls #nextBtn {
  right: 2px;
}

.controls #prevBtn {
  left: 2px;
}

.controls button:hover {
  background-color: #fc8047;
}

/*-----------------------------------*\
  #About
\*-----------------------------------*/

.abt-container{
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 400px;
  background-color: rgb(148, 148, 148);
}
.abt-container .stats-content{
  position: absolute;
  left: 1%;
  top: 1%;
  width: 98%;
  height: 98%;
  margin: auto;
  background-color: rgba(19, 19, 19, 0.397);
}
.stats-content .section-title{
  width: fit-content;
  color: white;
  font-size: 20px;
  margin: 20px auto;
  text-align: center;
}
.stats-content .section-text{
  width: 90%;
  height: 100%;
  padding: 0px 10px;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: white;
  margin: 30px auto;
}
.abt-container .stats-list{
  position: absolute;
  width: 90%;
  bottom: 5%;
  left: 4%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px;
}
.stats-list li{
  width: 20%;
  background-color: rgb(197, 197, 197);
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
}
.stats-card .card-title{
  color: #f15b15;
  font-size: 18px;
  font-weight: 900;
  transition: all 0.5s ease;
  margin: 5px auto;
}
.card-text{
  font-size: 10px;
  font-weight: 900;
}
.stats-banner img{
  width: 90%;
  height: 400px;
}

/*-----------------------------------*\
  #how to get started
\*-----------------------------------*/

.h-wt-gt-st{
  margin-top: 40px;
}
.hw-t-g-std-h{
  font-size: 20px;
  width: fit-content;
  margin: 20px auto;
  color: rgb(65, 65, 65);
}
.hw-t-g-std{
  width: 80%;
  margin:15px auto;
  text-align: center;
  background-color: rgba(214, 214, 214, 0.1);
  padding: 10px;
  border-radius: 5px;
  border-left: 2px solid #fc8047;
  border-right: 2px solid #3a65f3;
  box-shadow: 2px 5px 5px #3a65f3;
}
.gt-st-cnt .icon{
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 15px;
  font-size: 24px;
  border: 1px solid black;
  border-style: dotted;
  margin: auto;
  color: #fc8047;
}
.ttl-d{
  font-size: 16px;
  color: #3a65f3;
  font-weight: 900;
  margin: 10px;
}
.descrptn p{
  font-size: 12px;
  color: #727272;
}

/*-----------------------------------*\
  #Investment Packages
\*-----------------------------------*/

.packages-cont{
  width: 94%;
  padding: 5px;
  margin: 20px auto;
}
.packages-cont .pckg-ttl1{
  color: rgb(65, 65, 65);
  width: fit-content;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
}
.packages-cont .pckg-ttl2{
  font-size: 12px;
  text-align: center;
  margin: 10px;
  color: #727272;
  margin-bottom: 30px;
}
.packgs-c{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.packg{
  width: 80%;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
}

/* invest color styles */
/* bronze */
.bronze{
  background-color: #CD7F32;
}
.bronz-t{
  border-bottom: 5px solid #CD7F32;
  color: #CD7F32;
}
.h4b{
  background-color: #CD7F32;
}

/* silver */
.silver{
  background-color: #C0C0C0;
}
.silver-t{
  border-bottom: 5px solid #C0C0C0;
  color: #C0C0C0;
}
.h4s{
  background-color: #C0C0C0;
}

/* gold */
.gold{
  background-color: #FFD700;
}
.gold-t{
  border-bottom: 5px solid #FFD700;
  color: #FFD700;
}
.h4g{
  background-color: #FFD700;
}
/* end color style */

.packg-tb{
  width: 90%;
  background-color: rgba(0, 0, 0, 0.336);
  border-radius: 5px;
  padding: 10px;
  margin: auto;
}
.packg-ttl{
  width: 30%;
  font-size: 24px;
  background: linear-gradient(to right, rgba(14, 14, 14, 0.692), rgba(194, 193, 193, 0.466));
  padding: 5px 5px;
  padding-right: 15px;
  border-radius: 5px;
  
  text-align: left;
}
.packg .time{
  width: fit-content;
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
}
.packg h4{
  position: relative;
  width: 80%;
  margin: auto;
  padding: 10px 10%;
  border-radius: 5px;
  color: #0f31a0;
  font-size: 12px;
  text-align: center;
}
.packg h4 .inv-from,
.packg h4 .inv-to{
  width: 10%;
  position: absolute;
  font-size: 8px;
  color: #ffff;
  font-weight: 900;
  background-color: #3a65f3;
  padding: 3px 5px;
  border-radius: 2px;
}
.packg h4 .inv-to{
  top: 0;
  right: 0;
  border-bottom-left-radius: 15px;
  border-right: 2px solid #fa0303;
  border-top: 2px solid #fa0303;
  border-top-right-radius: 5px;
}
.packg h4 .inv-from{
  left: 0;
  bottom: 0;
  border-top-right-radius: 15px;
  border-left: 2px solid #fa0303;
  border-bottom: 2px solid #fa0303;
  border-bottom-left-radius: 5px;
}
.packgs-c .features{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 10px;
}
.packgs-c .features ul li{
  width: 70%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0px;
}
.packgs-c .features ul li .fa-square-check{
  font-size: 20px;
}
.packgs-c .features ul li p{
  color: #ffffff;
  font-size: 12px;
  padding: 3px;
  border-bottom: .5px solid #ffffff;
  font-weight: 500px;
}
.inv-btn{
  width: fit-content;
  padding-bottom: 15px;
  margin: auto;
}
.inv-btn a{
  background-color: var(--ultramarine-blue);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

/*-----------------------------------*\
  #Withdrawals and investments update
\*-----------------------------------*/
.w-d-tl{
  width: fit-content;
  margin: 20px auto;
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  color: #444444;
}
.wdrls-invests-tbl{
  background: url(./images/stat.jpeg);
}
.table-container{
  background-color: rgba(0, 0, 0, 0.75);
}
.updt-wtd-inv{
  width: 100%;
}
.market-table{
  width: 98%;
  margin: auto;
  color: #f3f3f3;
  border-left: 1px solid #fc8047;
  border-left-style: dotted;
}
.table-data{
  height: 40px;
}
.table-heading{
  font-size: 12px;
  padding: 10px 0px;
  border-bottom: 1px solid #fc8047;
  border-bottom-style: dotted;
  border-top: 1px solid #fc8047;
  border-top-style: dotted;
  color: #fc8047;
}
.wrapper{
  display: flex;
  align-items: center;
  gap: 3px;
  
}
.wrapper .coin-name{
  font-size: 10px;
}
.wrapper .ppr{
  width: 18px;
  height: 18px;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.wrapper-flex{
  display: flex;
  align-items: center;
  gap: 3px;
}
.table-data p{
  font-size: 9px;
}
.data h5{
  font-size: 10px;
  font-weight: 900;
}
.data-i{
  font-size: 10px;
  font-weight: 900;
  background-color: #f3f3f3;
  padding: 5px 10px;
  border-radius: 5px;
  margin: auto;
  color: #3a65f3;
}
.bronze-1{
  color: #CD7F32;
}
.silver-1{
  color: #C0C0C0;
}
.gold-1{
 color: #FFD700;
}
.blue{
  color: rgb(24, 104, 253);
  font-size: 20px;
}
.green{
  color: rgb(11, 240, 11);
  font-size: 20px;
}
.red{
  color: rgb(255, 0, 0);
  font-size: 20px;
}

/*-----------------------------------*\
  #Testimonials
\*-----------------------------------*/

/* Styles for the testimonials container */
.testimonials-container {
  width: 80%;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Styles for individual testimonial items */
.testimonial {
  display: none;
  padding: 20px;
  text-align: center;
}
.testimonial .fa-quote-left{
  color: #fc8047;
  margin-bottom: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.testimonial p{
  font-size: 12px;
  color: #727272;
}

.testimonial .invst{
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fc8047;
  color: #0c0c0c;
  margin-bottom: 20px;
}

/* Styles for the active testimonial */
.active {
  display: block;
}

.cprt{
  width: fit-content;
  font-size: 12px;
  font-weight: 900;
  margin: auto;
  margin-top: 10px;
  color: white;
}

/* footer*/
footer{
  padding: 10px;
  background-color: #000000;
}
.fd-bk{
  width: 100%;
  padding: 10px 0px;
  background: rgba(175, 173, 173, 0.3);
  border-radius: 10px;
}
.fd-bk .title{
  font-size: 16px;
  font-weight: 900;
  width: fit-content;
  margin: 10px auto;
  color: white;
}
.fd-bk form{
  width: 90%;
  margin: auto;
  display: grid;
  gap: 5px;
}
.fd-bk form label{
  font-size: 16px;
  font-weight: 900;
  color: #fff;
}
.fd-bk form input{
  font-size: 14px;
  padding: 5px 10px;
  outline: none;
  height: 22px;
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  color: #727272;
}
.fd-bk form textarea{
  height: 80px;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
  border: none;
  margin-top: 10px;
}
.fd-bk form button{
  width: fit-content;
  background-color: #3a65f3;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  font-weight: 900;
  color: white;
  margin-top: 5px;
}
.ft-cnt{
  width: fit-content;
  display: flex;
  gap: 10px;
  margin: 20px auto;
}
.ft-cnt a{
  color: #bebebe;
  font-size: 14px;
}

/*-----------------------------------*\
  #Sign In And Sign Up
\*-----------------------------------*/

.s-l-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background: url(./images/l-s-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.logreg-box{
  position: absolute;
  top: 3%;
  left: 2%;
  width: 96%;
  height: 86%;
}
.logreg-box .form-box{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(12, 12, 12, 0.8);
  /* backdrop-filter: blur(10px); */
  border-radius: 10px;
  color: #e4e4e4;
}
.logreg-box .form-box.login{
  transform: translateX(0);
  transition: transform .6s ease;
  transition-delay: .7s;
}
.logreg-box.active .form-box.login{
  transform: translateX(110%);
  transition-delay: 0s;
}

.logreg-box .form-box.register{
  transform: translateX(110%);
  transition: transform .6s ease;
}

.logreg-box.active .form-box.register{
  transform: translateX(0);
  transition-delay: 0.5s;
}

.form-box h2{
  font-size: 32px;
  text-align: center;
}
.form-box .input-box{
  position: relative;
  width: 95%;
  height: 25px;
  border-bottom: 1px solid #ff4e21;
  margin: 20px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 900;
  font-size: 14px;
  padding-right: 35px;
}
.input-box label{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 900;
  pointer-events: none;
  transition: .5s ease;
  color: #a1a1a1;
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
}

.input-box .icon{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #888888;
}
.form-box .remember-forgot{
  font-size: 14px;
  font-weight: 500;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-forgot{
  accent-color: #e4e4e4;
  padding-right: 8px;
} 

.remember-forgot a{
  border: 2px solid rgb(23, 101, 245);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 8px 5px black;
  color: #e4e4e4;
  font-weight: 900;
  text-decoration: none;
  margin-left: 10px;
}
.btn{
  width: 100%;
  height: 25px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #ec3406;
  color: var(--white);
  font-weight: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.form-box .login-register{
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
.login-register p a{
  color: #e4e4e4;
  margin-left: 5px;
}
.login-register a{
  font-weight: 900;
}
.login-register a{
  border: 2px solid rgb(23, 101, 245);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 8px 5px black;
  color: #e4e4e4;
  font-weight: 900;
  text-decoration: none;
  margin-left: 10px;
}
.s-l-f-cnt{
  position: absolute;
  width: 100%;
  height: 4%;
  bottom: 0;
}
.s-l-f-cnt .copy-l-s{
  font-size: 12px;
  width: 30%;
  margin: 5px auto;
  font-weight: 400;
  color: var(--white);
}
.s-l-f-cnt .ft-cnt-s-l{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 5px auto;
}
.s-l-f-cnt .ft-cnt-s-l a{
  color: #ffff;
  font-size: 12px;
}
/* .copy-l-s{
  position: absolute;
  bottom: 1%;
  font-size: 12px;
  width: 30%;
  left: 35%;font-weight: 400;
  color: var(--white);
}
.s-l-container hr{
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
}
.ft-cnt-s-l{
  position: absolute;
  bottom: 7%;
  left: 25%;
  width: 50%;
}
.ft-cnt-s-l a{
  color: var(--white);
  font-size: 14px;
  margin-left: 10px;
} */